@model InternetShop.Models.Product
<p>
    <h3 class="text-success">Удаление продукта</h3>
</p>

<Form method="post" action="/Home/DeleteProduct">
    <div class="form-group">
        <label for="id" class="text-primary">Id</label>
        <input class="form-control " name="Id" value="@Model.Id" id="id" aria-describedby="idHelp" readonly>
    </div>
    <div class="form-group">
        <label for="nameId" class="text-primary">Наименование</label>
        <input class="form-control" name="Name" value="@Model.Name" id="nameId" aria-describedby="nameHelp" readonly>
    </div>
    <div class="form-group">
        <label for="priceId" class="text-primary">Стоимость</label>
        <input class="form-control" name="Price" value="@Model.Price" id="priceId" aria-describedby="priceHelp" readonly>
    </div>
    <div class="form-group">
        <label for="CategoryIdSelect" class="text-primary">Категория товара</label>
        <select class="form-control" id="CategoryIdSelect" name="CategoryId" readonly>
            @foreach (var category in ViewBag.Categories)
            {
                if (Model.CategoryId == category.Id)
                {
                    <option value="@category.Id" disabled selected>@category.Name</option>
                }
                else
                {
                    <option value="@category.Id" disabled>@category.Name</option>
                }
            }
        </select>
    </div>

    <button class="btn-primary btn-lg" type="submit">Удалить</button>
</Form>