<p>
    <h3 class="text-success">Продукт</h3>
</p>
<p>
    <h4 class="text-primary">Id  = @ViewBag.ProductInfo.Id </h4>
    <h4 class="text-primary">Наименование = @ViewBag.ProductInfo.Name </h4>
    <h4 class="text-primary">Стоимость = @ViewBag.ProductInfo.Price </h4>
    <h4 class="text-primary">CategoryId = @ViewBag.ProductInfo.CategoryId </h4>
    <h4 class="text-primary">Категория = @ViewBag.ProductInfo.CategoryName </h4>
</p>
<hr />
<p><a href="/Home/Products" class="btn btn-primary btn-lg">Список продуктов</a></p>


